:root{
  --ham-bg-gradient: #fcbf31;
  --background-gold1: #af6d2f;
  --background-gold2: #f09931;
  --background-gold2: #ffc54f;
  --background-gold3: #fcda4b;
  --color-brick: #b9a183;
  --color-sky: #a3d8df;
  --color-par: #82828a;
  /* --color-road: #7e7c89; */
  --color-grey-wall1: #d9d8dc;
  --color-grey-wall2: #cbc9cf;
  --color-grey-wall3: #7e7e88;
  --color-brick-wall1: #c2c1c0;
  --color-brick-wall2: #9c8d77;
  --color-sideway1: #e5d9cd;
  --color-sideway2: #dfcdb7;
  --color-sideway-left-side: #e5d9cd;/*#ebe2d7;*/
  --color-line1: #463d3d;
  --color-line2: #9e8a77;
  --color-line3: #5f5f5f;
  --color-star-grey: #2c2e31;
  --color-star-black: #222127;
  --height-sideway-left-side: 45px;
  --border-width-front-wall: 2px;
  --height-front-poster: 480px;
  --width-front-poster: 280px;

  --stripe: #cfd8dc;
  --bg: #e1e1e1;
}

body {
  background: #3f3f44;
}

.container {
  width: 800px;
  height: 800px;
  background-color: var(--color-sky);
  position: relative;
  

  /* *** texture carrés *** */
  /* background: radial-gradient(ellipse at center,  #333333 0%,#333333 50%,#000000 100%);
  background-size: 5px 5px; */
  /* *** texture carrés *** */
  
}

/* ********************************* BUILDINGS ********************************* */
/* ***** Building one ***** */
/* ** Front wall ** */
.front-wall > .grey-wall, .front-wall > .brick-wall{
  height: calc(100% - var(--height-sideway-left-side) - var(--border-width-front-wall));
  position: absolute;
  top:0;
  border-bottom: var(--border-width-front-wall) solid var(--color-line1);
}
.front-wall > .grey-wall {
  width: 199px;
  left: 0;
  background: linear-gradient(
    87deg,
    var(--color-grey-wall2) 0%,
    var(--color-grey-wall1) 33%, 
    var(--color-grey-wall2) 55%, 
    var(--color-grey-wall3) 100%
  );
  border-right: 1px solid var(--color-line3);
  box-shadow: inset 8px 5px 20px 0px var(--color-line3);
}
.front-wall > .brick-wall {
  width: 87px;
  left: 200px;
  background: linear-gradient(90deg, var(--color-brick-wall1) 0%, var(--color-brick-wall2) 100%);
  border-right:  2px solid var(--color-line3);
  box-shadow: inset -11px 0px 20px 4px var(--color-line1),
    inset -3px 0px 8px 4px var(--color-grey-wall3);
}
.front-wall > .lines-vertical > div {
  height: 100%;
  position: absolute;
}
.front-wall > .lines-vertical > .line-vertical-1 {
  height: 255px;
  top: 500px;
  left: 150px;
  border-left: 2px solid var(--color-line3);
}
.front-wall > .lines-vertical > .line-vertical-2 {
  height: 100%;
  top: 0;
  left: 196px;
  border-left: 2px solid var(--color-line1);
  opacity: 0.4;
}
/* ** Left poster & structure ** */
/* Structure */
.front-wall .poster-container{
  height: var(--height-front-poster);
  width: var(--width-front-poster);
  z-index: 1;
  top: 40px;
  position: absolute;
  transform: rotate(-0.3deg);
}
.front-wall .poster-container > .iron-structure{
  height: 100%;
  width: 100%;
  position: absolute;
  border: 1px solid transparent;
  border-top: 4px solid var(--color-line3);
  border-bottom: 6px solid var(--color-line3);
}
.front-wall .poster-container > .iron-structure > div[class^="zig-zag-"] {
  position: absolute;
  height: 20px;
  width: 1px;
  background: transparent;
  bottom: 0;
}
.front-wall .poster-container > .iron-structure > .line-bottom-iron-structure{
  border-bottom: 2px solid black;
  position: relative;
  top: calc(var(--height-front-poster) + 5px);
}
.front-wall .poster-container > .iron-structure > .zig-zag-down{
  transform: skew(36deg);
  border-right: 1px solid black;
  border-left: 3px solid var(--color-line1);
}
.front-wall .poster-container > .iron-structure > .zig-zag-up{
  transform: skew(-25deg);
  border-right: 3px solid var(--color-line1);
  border-left: 1px solid black;
}
.front-wall .poster-container > .iron-structure > .zig-zag-0{ left: 8px; }
.front-wall .poster-container > .iron-structure > .zig-zag-1.zig-zag-up{ left: 48px; }
.front-wall .poster-container > .iron-structure > .zig-zag-1.zig-zag-down{ left: 66px;}
.front-wall .poster-container > .iron-structure > .zig-zag-2.zig-zag-up{ left: 98px; }
.front-wall .poster-container > .iron-structure > .zig-zag-2.zig-zag-down{ left: 116px; }
.front-wall .poster-container > .iron-structure > .zig-zag-3.zig-zag-up{ left: 140px; }
.front-wall .poster-container > .iron-structure > .zig-zag-3.zig-zag-down{ left: 156px; }
.front-wall .poster-container > .iron-structure > .zig-zag-4.zig-zag-up{ left: 185px; }
.front-wall .poster-container > .iron-structure > .zig-zag-4.zig-zag-down{ left: 201px; }
.front-wall .poster-container > .iron-structure > .zig-zag-5.zig-zag-up{ left: 230px; }
.front-wall .poster-container > .iron-structure > .zig-zag-5.zig-zag-down{ left: 246px; }
.front-wall .poster-container > .iron-structure > div[class^="vertical-"] {
  position: absolute;
  height: 10px;
  width: 1px;
  background: transparent;
  top: 0px;
  border-right: 3px solid var(--color-line1);
  border-left: 1px solid black;
}
.front-wall .poster-container > .iron-structure > .vertical-1 { left: 3px; }
.front-wall .poster-container > .iron-structure > .vertical-2 { left: 56px; }
.front-wall .poster-container > .iron-structure > .vertical-3 { left: 116px; }
.front-wall .poster-container > .iron-structure > .vertical-4 { left: 181px; }
.front-wall .poster-container > .iron-structure > .vertical-5 { left: 245px; }
/* Poster */
.front-wall .poster-container > .poster{
  height: calc(100% - 30px);
  width: calc(100% - 20px);
  margin: 10px 20px 20px 0px;
  position: absolute;
  top: 0;
  border-radius: 4px;
  border: 2px double var(--color-line3);
  background: gold;
}
.front-wall .poster > .star{
  position: absolute;
  top: 195px;
  left: 18px;
  width: 0px;
  height: 0px;
  border-right: 125px solid transparent;
  border-bottom: 87px solid var(--color-star-black);
  border-left: 125px solid transparent;
  transform: rotate(35deg);
  border-radius: 8px;
}
.front-wall .poster > .star:before{
  position: absolute;
  top: 6px;
  left: -134px;
  width: 0px;
  height: 0px;
  border-right: 125px solid transparent;
  border-bottom: 87px solid var(--color-star-black);
  border-left: 125px solid transparent;
  transform: rotate(-70deg);
  content: '';
  border-radius: 8px;
}
.front-wall .poster > p.hamilton{
  color: white;
  text-transform: uppercase;
  z-index: 2;
  position: absolute;
  top: 242px;
  font-size: 20px;
  left: 76px;
  text-shadow:  3px 8px 15px #888787, -20px -10px 20px #968282, 20px 20px 15px #505050;
}

/* ********************************* ROAD ********************************* */
.road {
 /* background-color: violet; */
}

/* ***** Par ***** */
.par {
  height: 0px;
  width: 0px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 135px solid var(--color-par);
  border-left: 500px solid transparent;
}
.line-middle-par {
  height: 0px;
  width: 185px;
  position: absolute;
  bottom: -90px;
  right: 2px;
  border-bottom: 3px outset white;
  transform: rotate(-15deg);
}

/* ***** Sideway ***** */
.road .left-side{
  height: var(--height-sideway-left-side);
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
  background: linear-gradient(
    90deg,
    white 0%, 
    var(--color-sideway-left-side) 10%,
    var(--color-sideway1) 33%, 
    var(--color-sideway-left-side) 80%,
    var(--color-sideway1) 100% 
  );
  border-top: 1px dotted var(--color-line1);
}
.middle-sideway{
  height: 0px;
  width: 525px;
  position: absolute;
  bottom: 47px;
  right: -18px;
  border-top: 45px solid var(--color-sideway1);
  /* border: 45px solid transparent;
  border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%); */
  border-image-slice: 1;
  border-left: 171px solid transparent;
  border-right: 12px solid transparent;
  transform: rotate(-15deg);
  /* opacity: 57%; */
}
.lines-sideway > div {
  height: 0px;
  position: absolute;
}
.line-sideway-0 { 
  width: 700px;
  bottom: 44px;
  right: -10px;
  border-bottom: 2px groove var(--color-line1);
  opacity: 0.3;
}
.line-sideway-1 { 
  width: 555px;
  bottom: 7px;
  right: -2px;
  border-bottom: 1px groove var(--color-line1);
  opacity: 0.5;
}
.line-sideway-2 { 
  width: 535px;
  bottom: 2px;
  right: 0px;
  border-bottom: 1px groove var(--color-line1);
  opacity: 0.5;
}
.line-sideway-3 { 
  width: 520px;
  bottom: -1px;
  right: 2px;
  border-bottom: 1px solid var(--color-line1); 
}
.line-sideway-4 { 
  width: 510px;
  bottom: -4px;
  right: 2px;
  border-bottom: 2px solid var(--color-line1);
  opacity: 0.7;
}
