:root{
  --ham-bg-gradient: #fcbf31;
  --color-brick: #b9a183;
  --color-sky: #a3d8df;
  --color-par: #82828a;
  /* --color-road: #7e7c89; */
  --color-grey-wall1: #d9d8dc;
  --color-grey-wall2: #cbc9cf;
  --color-grey-wall3: #7e7e88;
  --color-brick-wall1: #c2c1c0;
  --color-brick-wall2: #9c8d77;
  --color-sideway1: #e5d9cd;
  --color-sideway2: #dfcdb7;
  --color-sideway-left-side: #e5d9cd;/*#ebe2d7;*/
  --color-line1: #463d3d;
  --color-line2: #9e8a77;
  --color-line3: #5f5f5f;
  --height-sideway-left-side: 45px;
  --border-width-front-wall: 2px;
}

.container {
  width: 800px;
  height: 800px;
  background-color: var(--color-sky);
  position: relative;
  

  /* *** texture carrés *** */
  /* background: radial-gradient(ellipse at center,  #333333 0%,#333333 50%,#000000 100%);
  background-size: 5px 5px; */
  /* *** texture carrés *** */
  
}

/* ********************************* BUILDINGS ********************************* */
/* ***** Building one ***** */
/* Front wall */
.front-wall div{
  height: calc(100% - var(--height-sideway-left-side) - var(--border-width-front-wall));
  position: absolute;
  top:0;
  border-bottom: var(--border-width-front-wall) solid var(--color-line1);
  
}
.front-wall > .grey-wall {
  width: 199px;
  left: 0;
  background: linear-gradient(
    87deg,
    var(--color-grey-wall2) 0%,
    var(--color-grey-wall1) 33%, 
    var(--color-grey-wall2) 55%, 
    var(--color-grey-wall3) 100%
  );
  border-right: 1px solid var(--color-line3);
}
.front-wall > .brick-wall {
  width: 87px;
  left: 200px;
  background: linear-gradient(90deg, var(--color-brick-wall1) 0%, var(--color-brick-wall2) 100%);
  border-right:  2px solid var(--color-line3);
}
.front-wall > .lines-vertical > div {
  height: 100%;
  position: absolute;
}
.front-wall > .lines-vertical > .line-vertical-1 {
  height: 240px;
  top: 510px;
  left: 150px;
  border-left: 2px solid var(--color-line3);
}
.front-wall > .lines-vertical > .line-vertical-2 {
  height: 100%;
  top: 0;
  left: 196px;
  border-left: 2px solid var(--color-line1);
  opacity: 0.4;
}
/* ********************************* ROAD ********************************* */
.road {
 /* background-color: violet; */
}

/* ***** Par ***** */
.par {
  height: 0px;
  width: 0px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 135px solid var(--color-par);
  border-left: 500px solid transparent;
}
.line-middle-par {
  height: 0px;
  width: 185px;
  position: absolute;
  bottom: -90px;
  right: 2px;
  border-bottom: 3px outset white;
  transform: rotate(-15deg);
}

/* ***** Sideway ***** */
.road .left-side{
  height: var(--height-sideway-left-side);
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
  background: linear-gradient(
    90deg,
    white 0%, 
    var(--color-sideway-left-side) 10%,
    var(--color-sideway1) 33%, 
    var(--color-sideway-left-side) 80%,
    var(--color-sideway1) 100% 
  );
  border-top: 1px dotted var(--color-line1);
}
.middle-sideway{
  height: 0px;
  width: 525px;
  position: absolute;
  bottom: 47px;
  right: -18px;
  border-top: 45px solid var(--color-sideway1);
  /* border: 45px solid transparent;
  border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%); */
  border-image-slice: 1;
  border-left: 171px solid transparent;
  border-right: 12px solid transparent;
  transform: rotate(-15deg);
  /* opacity: 57%; */
}
.lines-sideway > div {
  height: 0px;
  position: absolute;
}
.line-sideway-0 { 
  width: 700px;
  bottom: 44px;
  right: -10px;
  border-bottom: 2px groove var(--color-line1);
  opacity: 0.3;
}
.line-sideway-1 { 
  width: 555px;
  bottom: 7px;
  right: -2px;
  border-bottom: 1px groove var(--color-line1);
  opacity: 0.5;
}
.line-sideway-2 { 
  width: 535px;
  bottom: 2px;
  right: 0px;
  border-bottom: 1px groove var(--color-line1);
  opacity: 0.5;
}
.line-sideway-3 { 
  width: 520px;
  bottom: -1px;
  right: 2px;
  border-bottom: 1px solid var(--color-line1); 
}
.line-sideway-4 { 
  width: 510px;
  bottom: -4px;
  right: 2px;
  border-bottom: 2px solid var(--color-line1);
  opacity: 0.7;
}
